<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Campaign</title>
</head>

<body>
    <div class="container-fluid px-0 h-100">
     
        <div class="d-flex">
            <div class="sidebar">
                <nav class="navbar flex-column navbar-expand-sm navbar-light px-0">
                    <a class="navbar-brand" href="#">
                        <img class="logo-img" src="../img/logo.png" alt="logo">
                    </a>
                    <div class="collapse navbar-collapse" id="collapsibleNavId">
                        <ul class="navbar-nav flex-column w-100">
                            <li class="nav-item">
                                <a class="nav-link" href="../index.html">
                                    <span class="flaticon-dashboard icons sidebar-icon"></span>
                                    Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="collapse" href="#campaignCollapse" role="button"
                                    aria-expanded="false" aria-controls="campaignCollapse">
                                    <span class="flaticon-stack-of-papers icons sidebar-icon"></span>
                                    My Campaigns <span class="flaticon-down-arrow icons collapse-icon"></span></a>
                                <div class="collapse sidebar-collapse" id="campaignCollapse">
                                    <nav class="nav flex-column">
                                        <a class="nav-link" href="new-campaign-1.html">New campaign</a>
                                        <a class="nav-link" href="campaign.html">All Campaign</a>
                                    </nav>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="leads.html">
                                    <span class="flaticon-banner icons sidebar-icon"></span>
                                    Leads</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="polls.html">
                                    <span class="flaticon-bar-chart icons sidebar-icon"></span>
                                    Polls</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="all-links.html">
                                    <span class="flaticon-link-1 icons sidebar-icon"></span>
                                    All Links</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="collapse" href="#settingsCollapse">
                                    <span class="flaticon-gear icons sidebar-icon"></span>
                                    Settings
                                    <span class="flaticon-down-arrow icons collapse-icon"></span>
                                </a>
                                <div class="collapse sidebar-collapse" id="settingsCollapse">
                                    <nav class="nav flex-column">
                                        <a class="nav-link" href="integration.html">Integration</a>
                                        <a class="nav-link" href="custom-domain.html">Custom Domain</a>
                                    </nav>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span class="flaticon-analytics icons sidebar-icon"></span>
                                    Analytics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="collapse" href="#supportCollapse">
                                    <span class="flaticon-telemarketer icons sidebar-icon"></span>
                                    Support
                                    <span class="flaticon-down-arrow icons collapse-icon"></span>
                                </a>
                                <div class="collapse sidebar-collapse" id="supportCollapse">
                                    <nav class="nav flex-column">
                                        <a class="nav-link" href="#">FB Group</a>
                                        <a class="nav-link" href="#">Training</a>
                                        <a class="nav-link" href="#">Bonuses</a>
                                    </nav>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="edit-profile.html">
                                    <span class="flaticon-log-out icons sidebar-icon"></span>
                                    Logout</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="content-section">
                <div class="container px-4">
                    <div class="d-flex align-item-end my-3">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <div class="workspace-wrap">
                                    <div class="d-flex workspace-details">
                                        <div class="img-workspace">
                                            <span class="flaticon-user-1 icons default-workspace"></span>
                                        </div>
                                        <div class="workspace-name nav-link" title="Artculture BMC">Artculture BMC</div>
                                    </div>
                                </div>
                            </li>
                            <!-- <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="flaticon-user icons menu-icon"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="flaticon-notification icons menu-icon"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="flaticon-about icons menu-icon"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link option-wrap" href="#">
                                <span class="flaticon-down-arrow icons drop-icon"></span>
                                <div class="more-option">
                                    <div class="top-section">
                                        <div class="user-info">
                                            <div class="user-image">
                                                <span class="flaticon-user icons default-user"></span>
                                            </div>
                                            <div class="username-wrap">
                                                <div class="name">
                                                    Ejem Austin
                                                </div>
                                                <div class="desc">
                                                    Account settings and more
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bottom-section">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">
                                                    <span class="flaticon-telemarketer icons dropdown-icons"></span>
                                                    <div class="nav drop-items">
                                                        <span class="text">Support</span>
                                                        <span class="desc">Contact Support</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#"><span
                                                        class="flaticon-graduation-hat icons dropdown-icons"></span>
                                                    <div class="nav drop-items">
                                                        <span class="text">Knowledge Center</span>
                                                        <span class="desc">Everything explained here</span>
                                                    </div>
    
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">
                                                    <span class="flaticon-logout icons dropdown-icons"></span>
                                                    <span class="text-logout">Logout</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </span>
                        </li> -->
                        </ul>
                    </div>
                    <div class="content-header mt-4 mb-3">
                        <div class="d-flex flex-column">
                            <h1 class="title">
                                Create Poll
                            </h1>
                        </div>
                    </div>

                    <div class="content-header justify-content-center mt-0">
                        <div class="steps-guide">
                            <span class="first-step active">1</span>
                            <span class="step-value">
                                PICK QUESTION
                            </span>
                            <span class="steps">2</span>
                            <span class="step-value">
                                BUTTON SETTINGS
                            </span>

                        </div>

                    </div>

                    <form action="" method="post">
                        <div class="form-section">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="question-input">Poll Question *</label>
                                        <input type="text" name="" id="question-input" class="form-control"
                                            placeholder="Poll Question">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="option-one">Option 1 *</label>
                                                        <input type="text" name="" id="option-one" class="form-control"
                                                            placeholder="Option 1">
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="option-two">Option 2 *</label>
                                                        <input type="text" name="" id="option-two" class="form-control"
                                                            placeholder="Option 2">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="url-option-one">URL</label>
                                                        <input type="text" name="" id="url-option-one" class="form-control"
                                                            placeholder="Url">
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="url-option-two">URL</label>
                                                        <input type="text" name="" id="url-option-two" class="form-control"
                                                            placeholder="Url">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="url-option-one">DISPLAY IMAGE</label>
                                                        <input type="file" name="" id="url-option-one" class="form-control"
                                                            placeholder="Url">
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="display-image-two">DISPLAY IMAGE</label>
                                                        <input type="file" name="" id="display-image-two" class="form-control"
                                                            placeholder="Url">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button class="btn btn-create-new">Add more +</button>
                            <button class="btn btn-next">Next</button>
                        </div>
                    </form>





                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>


        <script src="../js/script.js"></script>


</body>

</html>