<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Banners</title>
</head>

<body>
    <div class="container-fluid px-0 h-100">
        <nav class="navbar navbar-expand-sm navbar-light main-nav">
            <a class="navbar-brand" href="#">
                <img class="logo-img" src="../img/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation"></button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <form class="form-search">
                    <input class="form-control form-noshadow" type="text" placeholder="Find recent pixels">
                    <button class="btn" type="submit">
                        <span class="flaticon-search icons search-icon"></span>
                    </button>
                </form>
                <ul class="navbar-nav menu ml-auto">
                    <li class="nav-item">
                        <div class="workspace-wrap">
                            <div class="d-flex workspace-details">
                                <div class="img-workspace">
                                    <span class="flaticon-user icons default-workspace"></span>
                                </div>
                                <div class="workspace-name nav-link" title="Artculture BMC">Artculture BMC</div>
                            </div>
                            <div class="workspace-select">
                                <div class="form-search-workspace">
                                    <input class="form-control form-noshadow" type="text" name="" id="">
                                    <button class="btn-search-workspace">
                                        <span class="flaticon-search icons search-workspace-icon"></span>
                                    </button>
                                </div>

                                <div class="user-info-display">
                                    <span class="flaticon-user icons user-image-workspace"></span>
                                    <span class="text">Ejem Odinakachi Austin</span>
                                    <span class="active-text">Active</span>
                                </div>
                                <div class="workspace-action">
                                    <button class="btn btn-block mt-0 btn-new-workspace">
                                        <span class="flaticon-plus icons workspace-action-icon"></span>
                                        New workspace
                                    </button>
                                    <button class="btn btn-block mt-0 btn-new-workspace">
                                        <span class="flaticon-list icons workspace-action-icon"></span>
                                        All workspace
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="flaticon-user icons menu-icon"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="flaticon-notification icons menu-icon"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="flaticon-about icons menu-icon"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link option-wrap" href="#">
                            <span class="flaticon-down-arrow icons drop-icon"></span>
                            <div class="more-option">
                                <div class="top-section">
                                    <div class="user-info">
                                        <div class="user-image">
                                            <span class="flaticon-user icons default-user"></span>
                                        </div>
                                        <div class="username-wrap">
                                            <div class="name">
                                                Ejem Austin
                                            </div>
                                            <div class="desc">
                                                Account settings and more
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-section">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">
                                                <span class="flaticon-telemarketer icons dropdown-icons"></span>
                                                <div class="nav drop-items">
                                                    <span class="text">Support</span>
                                                    <span class="desc">Contact Support</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"><span
                                                    class="flaticon-graduation-hat icons dropdown-icons"></span>
                                                <div class="nav drop-items">
                                                    <span class="text">Knowledge Center</span>
                                                    <span class="desc">Everything explained here</span>
                                                </div>

                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">
                                                <span class="flaticon-logout icons dropdown-icons"></span>
                                                <span class="text-logout">Logout</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </span>
                    </li>
                </ul>

            </div>
        </nav>
        <div class="d-flex">
            <div class="sidebar">
                <nav class="navbar navbar-expand-sm navbar-light px-0">
                    <div class="collapse navbar-collapse" id="collapsibleNavId">
                        <ul class="navbar-nav flex-column w-100">
                            <li class="nav-item">
                                <a class="nav-link" href="../index.html">
                                    <span class="flaticon-dashboard icons sidebar-icon"></span>
                                    Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="banners.html">
                                    <span class="flaticon-plus-sign icons sidebar-icon"></span>
                                    Create Banner</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="banners.html">
                                    <span class="flaticon-banner icons sidebar-icon"></span>
                                    View Banners</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="testing.html">
                                    <span class="flaticon-controls icons sidebar-icon"></span>
                                    Split Testing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pixels.html">
                                    <span class="flaticon-statistics icons sidebar-icon"></span>
                                    Pixels</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span class="flaticon-image icons sidebar-icon"></span>
                                    BG Remover</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span class="flaticon-portfolio icons sidebar-icon"></span>
                                    Agency</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span class="flaticon-gift icons sidebar-icon"></span>
                                    Bonus</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="edit-profile.html">
                                    <span class="flaticon-gear icons sidebar-icon"></span>
                                    Settings</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="content-section">

                <div class="container">
                    <div class="row setting-item mt-5">
                        <div class="col-6">
                            <h4 class="form-title">Update Name or Profile Image</h4>
                            <form class="mt-4" action method="post">
                                <div class="form-group">
                                    <label for>Name</label>
                                    <input type="text" name id="first-name"
                                        class="form-control form-noshadow account-form" placeholder />
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" name id="email" class="form-control form-noshadow account-form"
                                        placeholder />
                                </div>
                                <div class="form-group">
                                    <div class="upload-wrap">
                                        <div class="user-image-prev">
                                            <span class="flaticon-user icons user-image-icon"></span>
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <div class="upload-desc">
                                                Recommended Size: Less <br>Than
                                                2Mb (130 X 130
                                            </div>
                                            <div>
                                            <div class="upload-btn">
                                                <span class="text">Upload Picture</span>
                                                <div class="icon-wrap">
                                                    <span class="flaticon-download icons upload-icon"></span>
                                                </div>
                                                <input type="file" class="form-control-file" name="user-image-select"
                                                    id="user-image-select" />
                                            </div>
                                        </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-end mt-4">
                                        <button class="btn btn-update">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-6">
                            <h4 class="form-title">Update Password</h4>
                            <form class="mt-4" action method="post">
                                <div class="form-group">
                                    <label for>Current Password</label>
                                    <input type="password" name id="current-password"
                                        class="form-control form-noshadow account-form" placeholder />
                                </div>
                                <div class="form-group">
                                    <label for>New Password</label>
                                    <input type="password" name id="new-password"
                                        class="form-control form-noshadow account-form" placeholder />
                                </div>
                                <div class="form-group">
                                    <label for>Confirm Password</label>
                                    <input type="password" name id="confirm-password"
                                        class="form-control form-noshadow account-form" placeholder />
                                </div>
                                <div class="d-flex justify-content-end mt-4">
                                    <button class="btn btn-update">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>

        <script src="../js/script.js"></script>
</body>

</html>