<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Campaign</title>
</head>

<body>
    <div class="container-fluid px-4 h-100">
        <div class="top-head">

            <div class="steps-guide">
                <span class="first-step active">1</span>
                <span class="step-value">
                    PICK A LEAD MAGNET
                </span>
                <span class="steps active">2</span>
                <span class="step-value">
                    PICK AND EDIT TEMPLATE
                </span>
                <span class="steps">3</span>
                <span class="step-value">
                    GO VIRAL
                </span>
            </div>

            <div class="d-flex align-items-center">
                <div>
                    <nav class="nav editor-menu">
                        <a class="nav-link" href="#">View</a>
                        <a class="nav-link active" href="#">Save</a>
                        <a class="nav-link" href="#">Back</a>
                    </nav>
                </div>
                <ul class="navbar-nav menu ml-auto">
                    <li class="nav-item">
                        <div class="workspace-wrap">
                            <div class="d-flex workspace-details">
                                <div class="img-workspace">
                                    <span class="flaticon-user-1 icons default-workspace"></span>
                                </div>
                                <div class="workspace-name nav-link" title="Artculture BMC">Artculture BMC</div>
                            </div>
                        </div>
                    </li>
                </ul>


            </div>




        </div>

        <div class="d-flex mt-3">
            <div class="editor-section">

            </div>
            <div class="tool-section">
                <h1 class="title">Page <br> Content</h1>

                <div class="form-group">
                    <label for="bg-color">Page Background</label>
                    <div class="d-flex align-items-center">
                        <input id="bg-color" type="color" name="">
                        <span id="color-code">#FF66GG</span>
                    </div>
                </div>

                <div class="form-group d-flex">
                    <div class="tool-item">
                        <span class="flaticon-info-1 icons-nm info-tool"></span>
                        <label for="my-input">Background Image</label>
                        <div class="d-flex">
                            <button class="btn btn-tool">
                                <span class="flaticon-download icons-nm"></span>
                            </button>
                            <button class="btn btn-tool">
                                <span class="flaticon-delete-1 icons-nm"></span>
                            </button>
                        </div>
                    </div>
                    <div class="tool-item">
                        <span class="flaticon-info-1 icons-nm info-tool"></span>
                        <label for="my-input">Logo Image</label>
                        <div class="d-flex">
                            <button class="btn btn-tool">
                                <span class="flaticon-download icons-nm"></span>
                            </button>
                            <button class="btn btn-tool">
                                <span class="flaticon-delete-1 icons-nm"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="">VIdeo Url</label>
                    <input id="" class="form-control" type="text" name="">
                </div>

                <div class="form-group">
                    <label for="my-select">Autoresponder</label>
                    <div class="d-flex align-items-center">
                        <select id="my-select" class="form-control" name="">
                            <option selected>Please select your Autoresponder</option>
                        </select>
                        <span class="flaticon-info-1 icons-nm info-desc-icon"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="my-select">Tag</label>
                    <div class="d-flex align-items-center">
                        <select id="my-select" class="form-control" name="">
                            <option selected>Please select your Tag</option>
                        </select>
                        <span class="flaticon-info-1 icons-nm info-desc-icon"></span>
                    </div>
                </div>

                <div>
                    <label for="my-input">Redirect/Thank You Page</label>
                </div>

                <div class="form-check mb-2">
                    <div class="d-flex">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="demo" id="" value="checkedValue" checked>
                            Message
                        </label>
                        <label class="form-check-label ml-5">
                            <input type="radio" class="form-check-input" name="demo" id="" value="checkedValue">
                            Redirect Url
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea id="message" class="form-control" name="" rows="4" placeholder="Message"></textarea>
                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>


        <script src="../js/script.js"></script>


</body>

</html>