<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Campaign</title>
</head>

<body>
    <div class="container-fluid px-0 h-100">
        <nav class="navbar navbar-expand-sm navbar-light main-nav">
            <a class="navbar-brand" href="#">
                <img class="logo-img" src="../img/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation"></button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav menu ml-auto">
                    <li class="nav-item">
                        <div class="workspace-wrap">
                            <div class="d-flex workspace-details">
                                <div class="img-workspace">
                                    <span class="flaticon-user-1 icons default-workspace"></span>
                                </div>
                                <div class="workspace-name nav-link" title="Artculture BMC">Artculture BMC</div>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </nav>
        <div class="d-flex">
            <div class="sidebar">
                <nav class="navbar navbar-expand-sm navbar-light px-0">
                    <div class="collapse navbar-collapse" id="collapsibleNavId">
                        <ul class="navbar-nav flex-column w-100">
                            <li class="nav-item">
                                <a class="nav-link" href="../index.html">
                                    <span class="flaticon-dashboard icons sidebar-icon"></span>
                                    Dashboard</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" data-toggle="collapse" href="#campaignCollapse" role="button"
                                    aria-expanded="false" aria-controls="campaignCollapse">
                                    <span class="flaticon-plus-sign icons sidebar-icon"></span>
                                    My Campaigns <span class="flaticon-down-arrow icons collapse-icon"></span></a>
                                <div class="collapse sidebar-collapse" id="campaignCollapse">
                                    <nav class="nav flex-column">
                                        <a class="nav-link" href="new-campaign.html">New campaign</a>
                                        <a class="nav-link" href="campaign.html">All Campaign</a>
                                    </nav>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="leads.html">
                                    <span class="flaticon-banner icons sidebar-icon"></span>
                                    Leads</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="polls.html">
                                    <span class="flaticon-controls icons sidebar-icon"></span>
                                    Polls</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="all-links.html">
                                    <span class="flaticon-statistics icons sidebar-icon"></span>
                                    All Links</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="collapse" href="#settingsCollapse">
                                    <span class="flaticon-image icons sidebar-icon"></span>
                                    Settings
                                    <span class="flaticon-down-arrow icons collapse-icon"></span>
                                </a>
                                <div class="collapse sidebar-collapse" id="settingsCollapse">
                                    <nav class="nav flex-column">
                                        <a class="nav-link" href="#">Integration</a>
                                        <a class="nav-link" href="#">Custom Domain</a>
                                    </nav>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span class="flaticon-portfolio icons sidebar-icon"></span>
                                    Analytics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="collapse" href="#supportCollapse">
                                    <span class="flaticon-gift icons sidebar-icon"></span>
                                    Support
                                    <span class="flaticon-down-arrow icons collapse-icon"></span>
                                </a>
                                <div class="collapse sidebar-collapse" id="supportCollapse">
                                    <nav class="nav flex-column">
                                        <a class="nav-link" href="#">FB Group</a>
                                        <a class="nav-link" href="#">Training</a>
                                        <a class="nav-link" href="#">Bonuses</a>
                                    </nav>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="views/edit-profile.html">
                                    <span class="flaticon-gear icons sidebar-icon"></span>
                                    Logout</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="content-section">
                <div class="container px-4">
                    <div class="content-header mt-4 mb-3">
                        <div class="d-flex flex-column">
                            <h1 class="title">
                                New Campaign
                            </h1>
                            <h6 class="desc">
                                Select a lead magnet to get started.
                            </h6>
                        </div>

                    </div>

                    <div class="content-header mt-0">
                        <div class="steps-guide">
                            <span class="first-step active">1</span>
                            <span class="step-value">
                                PICK A LEAD MAGNET
                            </span>
                            <span class="steps">2</span>
                            <span class="step-value">
                                PICK AND EDIT TEMPLATE
                            </span>
                            <span class="steps">3</span>
                            <span class="step-value">
                                GO VIRAL
                            </span>
                        </div>
                        <div class="d-flex">
                            <div class="mr-3">

                                <select id="category" class="form-control" name="">
                                    <option value="none" selected>Category</option>
                                </select>

                            </div>
                            <form class="form-search"><input class="form-control form-noshadow" type="text"
                                    placeholder="Find recent Leads">
                                <button class="btn" type="submit">
                                    <span class="flaticon-search icons search-icon"></span>
                                </button>
                            </form>

                            <div class="dropdown">
                                <button id="my-dropdown" class="btn btn-filter dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"><span
                                        class="flaticon-funnel icons-nm filter-icon"></span> Filter</button>
                                <div class="dropdown-menu" aria-labelledby="my-dropdown">
                                    <a class="dropdown-item active" href="#">Text</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row mt-5">
                        <div class="col-4">
                            <div class="lead-box">
                                <span class="flaticon-gear icons-nm setting-icon"></span>
                                <div class="lead-img">
                                    <img class="img-fluid" src="" alt="">
                                </div>
                                <div class="lead-content">
                                    <h1 class="title">Lead Title</h1>
                                    <div class="lead-body">
                                        Lurem ipsum dolor dulum dele solo menu pulum lurem
                                        Lurem ipsum dolor dulum dele
                                    </div>
                                    <button data-toggle="modal" data-target="#modal-create" class="btn btn-select-lead">Select Lead Magnet</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="lead-box">
                                <span class="flaticon-gear icons-nm setting-icon"></span>
                                <div class="lead-img">
                                    <img class="img-fluid" src="" alt="">
                                </div>
                                <div class="lead-content">
                                    <h1 class="title">Lead Title</h1>
                                    <div class="lead-body">
                                        Lurem ipsum dolor dulum dele solo menu pulum lurem
                                        Lurem ipsum dolor dulum dele
                                    </div>
                                    <button data-toggle="modal" data-target="#modal-create" class="btn btn-select-lead">Select Lead Magnet</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="lead-box">
                                <span class="flaticon-gear icons-nm setting-icon"></span>
                                <div class="lead-img">
                                    <img class="img-fluid" src="" alt="">
                                </div>
                                <div class="lead-content">
                                    <h1 class="title">Lead Title</h1>
                                    <div class="lead-body">
                                        Lurem ipsum dolor dulum dele solo menu pulum lurem
                                        Lurem ipsum dolor dulum dele
                                    </div>
                                    <button data-toggle="modal" data-target="#modal-create" class="btn btn-select-lead">Select Lead Magnet</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="lead-box">
                                <span class="flaticon-gear icons-nm setting-icon"></span>
                                <div class="lead-img">
                                    <img class="img-fluid" src="" alt="">
                                </div>
                                <div class="lead-content">
                                    <h1 class="title">Lead Title</h1>
                                    <div class="lead-body">
                                        Lurem ipsum dolor dulum dele solo menu pulum lurem
                                        Lurem ipsum dolor dulum dele
                                    </div>
                                    <button data-toggle="modal" data-target="#modal-create" class="btn btn-select-lead">Select Lead Magnet</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="lead-box">
                                <span class="flaticon-gear icons-nm setting-icon"></span>
                                <div class="lead-img">
                                    <img class="img-fluid" src="" alt="">
                                </div>
                                <div class="lead-content">
                                    <h1 class="title">Lead Title</h1>
                                    <div class="lead-body">
                                        Lurem ipsum dolor dulum dele solo menu pulum lurem
                                        Lurem ipsum dolor dulum dele
                                    </div>
                                    <button data-toggle="modal" data-target="#modal-create" class="btn btn-select-lead">Select Lead Magnet</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="lead-box">
                                <span class="flaticon-gear icons-nm setting-icon"></span>
                                <div class="lead-img">
                                    <img class="img-fluid" src="" alt="">
                                </div>
                                <div class="lead-content">
                                    <h1 class="title">Lead Title</h1>
                                    <div class="lead-body">
                                        Lurem ipsum dolor dulum dele solo menu pulum lurem
                                        Lurem ipsum dolor dulum dele
                                    </div>
                                    <button data-toggle="modal" data-target="#modal-create" class="btn btn-select-lead">Select Lead Magnet</button>
                                </div>
                            </div>
                        </div>
                    </div>





                </div>
            </div>

            <div class="modal fade" id="modal-create" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <!-- <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                            
                        </div> -->
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <div class="error"></div>
                            <form action="" method="post" id="workspace-form">
                                <label for="workspace-input">Name Your Campaign</label>
                                <div class="workspace-input-main">
                                    <input id="workspace-input" class="form-control form-input" type="text" name="">
                                    <button class="btn btn-create-workspace">
                                        CREATE
                                    </button>
                                </div>
                            </form>
                            <div class="info">
                                <span class="flaticon-information icons info-icon"></span>
                                Confused? Click Here to watch a quick demo
                            </div>
                        </div>
                        <!-- <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>


        <script src="../js/script.js"></script>


</body>

</html>